.Button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear, .clear_inverted {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}
.clear_inverted{
    color: var(--inverted-primary-color);
}

.outline {
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
