.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.btn {
    margin-left: 10px;
}

.hidden {
    flex-direction: column;
    .lang { margin-left: 0; }
}

.items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
}

.item {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .link {
        opacity: 0;
        transition: opacity 0.2s;
        width: 0;
    }
}

.wrapper {
    display: flex;
    align-items: center;
}
